[Unit]
Description=Florapi Server
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python3 florapi.py 
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
