[Unit]
Description=Florapi Server
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/home/www/florapi/florapi-venv/bin/python3 /home/www/florapi/florapi.py
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
